SPOTIFY_CLIENT_ID=81d7a38ab53c497a829ae4913b5df3ed    
SPOTIFY_CLIENT_SECRET=84d12d2209134b5798540a39f4a881df
SPOTIFY_REFRESH_TOKEN=AQB_1EZATAq1BnM1hstKL4LZljfTZLLgwHWRNpiWd7MesKgKW-ChACx2L0q_hkXEHgKiXIoSJn2j1G80sqhPFYzMavtI7zI7r3XVwcRbxPeYqSN82JuiAju8Q2l0u1NNLOA
TELEGRAM_BOT_TOKEN=8759707831:AAHoAvkvZAqA1BabKZF5oTR2OIOyH2ZKFv8
TELEGRAM_CHANNEL_ID=-1003393651240
LASTFM_API_KEY=5c099b631384b73b37e0ad9fe2d9e69c
LASTFM_USERNAME=Inkonio
DATABASE_URL=postgresql://postgres:Alikhancool20!@localhost:5432/musicdb